<nav class="navbar navbar-expand-xl navbar-dark" style="background-color: #003e7e;">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_url %>"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Seal_of_the_United_States_Federal_Aviation_Administration.svg/1200px-Seal_of_the_United_States_Federal_Aviation_Administration.svg.png" alt="FAA" width="40" height="40"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark"
      aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse show" id="navbarDark">
      
      <%= render "shared/menu" %>

    </div>
  </div>
</nav>